*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 15px;
}

.headerdetails{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 700px;
    width: 1500px;
    background-repeat: no-repeat;
    background-size: 1500px;
    justify-content: space-between;
    background-image: url("../../assets/images/header.jpg");
}

.link{
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    margin-right: 30px;
}

ul {
    display: flex;
    gap: 15px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

ul li a:hover{
    opacity: 0.2;
}

.P-active-class{
    text-decoration: underline;
}

.texts p{
    font-size: 35px;
    color: white;
}

.texts span{
    font-size: 25px;
    color:white;
}

.square{
    display: flex;
    margin-left: 15px;
    gap: 5px;
}

.square .first{
    height: 70px;
    width: 70px;
    background-color: white;
}

.square .second{
    height: 70px;
    width: 70px;
    border: 1px solid white;
    margin-left: -30px;
    margin-top: 15px;
}

.items{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}